$green-rect: #61A199;
$translucent-rect:#F7F9FB;
$footer-color: #3F3D56;
$heading-font-color: #4F4F4F;
$teams-prof-color: #828282;
$copyright-font-color: rgb(255,255,255,0.4);
$socmedia-font-color: white;
@mixin hoverSocMedia() {
    color: yellow;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
    cursor:pointer;
}
$nav-font-hover: cadetblue;