@keyframes rect-0 {
    30%, 100% { top: 40%; }
    50% { transform: rotateZ(0deg)}
    70%, 100% { transform: rotateZ(-225deg)} }

@keyframes rect-1 {
    0%,30% { opacity: 1; }   
    35%, 100% { opacity: 0; } }

@keyframes rect-2 {
    30%, 100% { top: 40%; }
    50% { transform: rotateZ(0deg)}
    70%, 100% { transform: rotateZ(-315deg)} }

@keyframes rect-3 {
    30%, 100% { top: 40%; }
    50% { transform: rotateZ(0deg)}
    70%, 100% { transform: rotateZ(-225deg)} }

@keyframes rect-4 {
    0%,30% { opacity: 1; }   
    35%, 100% { opacity: 0; } }

@keyframes rect-5 {
    30%, 100% { top: 40%; }
    50% { transform: rotateZ(0deg)}
    70%, 100% { transform: rotateZ(-315deg)} }