doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;.SkillDrive
  link(rel='stylesheet' href='dist/main.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap' rel='stylesheet')
header
  nav
    .navbar__container
      img.navbar__brand-text(src='../src/img/Logo.svg' alt='logo')
      .navbar__menu.is-desktop
        a.navbar__menu-item.is-animated(href='About.html' target='_blank' rel='nofollow') &Ocy; &ncy;&acy;&scy;
        a.navbar__menu-item.is-animated(href='https://www.google.com/' target='_blank' rel='nofollow') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;
        a.navbar__menu-item.is-animated(href='Questions.html' target='_blank' rel='nofollow') &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
        a.navbar__menu-login.is-animated(href='' target='_blank' rel='nofollow') &Vcy;&ocy;&jcy;&tcy;&icy;
  .mobile__wrapper.is-mobile.is-active.is-animated
    img.navbar__brand-mobil(src='src/img/Logo.svg' alt='logo')
    .menu__mobile-container
      nav.menu__mobile
        a.menu__mobile-link.is-animated(href='About.html') &Ocy; &ncy;&acy;&scy;
        .menu__mobile-rect
        a.menu__mobile-link.is-animated(href='') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;
        .menu__mobile-rect
        a.menu__mobile-link.is-animated(href='Questions.html') &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
      a.menu__login.is-animated(href='' target='_blank' rel='nofollow') &Vcy;&ocy;&jcy;&tcy;&icy;
  .mobile__burger.is-active.is-mobile
    .mobile__burger-rect
    .mobile__burger-rect
    .mobile__burger-rect
footer
  .footer__container
    span.footer__container-copyright &copy; SkillDrive Inc. 2020
    .footer__container-social-media
      a.icon-facebook.is-animated(href='404.html' target='_blank' rel='nofollow')
      a.icon-insta.is-animated(href='404.html' target='_blank' rel='nofollow')
      a.icon-vk.is-animated(href='404.html' target='_blank' rel='nofollow')
script(src='dist/main.js')
