.cta__container {
    @include standart-container();
    margin-top: 104px;
    @include breakpoint (medium) {
      justify-content: flex-start;
    }
    img {
      @include breakpoint (medium) {
        width: 50%;
        margin-top: 1px;
      }
    }
    h2 {
      margin-top: 51px;
      font-weight: 500;
      @include breakpoint (medium) {
        width: 70%;
        text-align: center;
        margin-top: 30px;
      }
    }
    a {
      @include breakpoint (medium) {
        display: flex;
        justify-content: center;

      }
      button {
        margin-top: 40px;
        @include breakpoint (medium) {
          margin-top: 30px;
        }
    }

    }
  }