.main-description__container {
  @include standart-container();
  padding-top: 120px;

  &-block {
    //display: flex;
    display: none;
    padding-bottom: 160px;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    &:nth-child(2) {
      flex-direction: row-reverse;
      @include breakpoint (medium) {
        flex-direction: column;
      }
    }
    @include breakpoint (superLarge) {
      padding-right: 20%;
      padding-left: 20%;
    }
    @include breakpoint (medium) {
      flex-direction: column;
      padding-right: 0px;
      padding-left: 10%;
      padding-bottom: 60px;
  }
  @include breakpoint (small) {
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
    img {
      padding-right: 78px;
      @include breakpoint (medium) {
          width: 50%;
          z-index: 5;
      }
    }
    img:nth-child(2) {
      padding-left: 78px;

    }
    &-text {
      @include breakpoint (medium) {
          order: 2;
      }
      h2 {
        line-height: 58px;
        font-weight: 500;
        @include breakpoint (medium) {
          line-height: 28px;
          padding-top: 25px;
      }
      }
      span {
        display: block;
        padding-top: 20px;
        font-size: 20px;
        @include breakpoint (medium) {
          padding-top: 10px;
          font-size: 14px;
          width: 95%;
      }
      }
    }
  }
  @include breakpoint (medium) {
      padding-top: 60px;
  }
}