.profit__container {
    @include standart-container();

    height: 618px;

    @include breakpoint (medium) {
      height: 397px;
      align-items: flex-start;
    }
    h2 {
      font-weight: 500;
      margin-top: 110px;
      @include breakpoint (medium) {
        margin-top: 40px;
        margin-left: 10%;
      }
      @include breakpoint (small) {
        margin-left: 20px;
      }
    }
    &-text {
      margin-top: 21px;
      font-size: 24px;
      @include breakpoint (medium) {
        font-size: 14px;
        margin-top: 15px;
        margin-left: 10%;
        max-width: 90%;
      }
      @include breakpoint (small) {
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }

 