
  
  .rent-rule__container {
    @include standart-container();
    display: none;
    justify-content: center;
    height: 552px;
    width: 100%;
    background: $translucent-rect;
    h2 {
      font-weight: 500;
    }
  }