@import "font-rule.scss", "breakpoints.scss";

@mixin standart-container () {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* generic */

.is-animated {
  transition: all 400ms ease;
}

nav {
  height: 90px;
  width: 100%;

    .navbar__container {
      display: flex;
      padding-left: 40px;
      padding-right: 40px;
      transform: translate(0%, 50%);
      justify-content: space-between;
      align-items: center;

      .navbar__menu {
        display: flex;
        align-items: center;

        &-item {
          margin-right: 30px;
          font-size: 16px;
          &:hover {
            color: $nav-font-hover;
            font-size: 20px;
            cursor:pointer;
          }
        }
                
        &-login {
            padding: 12px 36px 12px 36px;
            border: 1px solid;
            border-radius: 8px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            &:hover {
              background: $nav-font-hover;
              cursor:pointer;
            }
          }
      }
    }
}

.description__container {
  @include standart-container();
  padding-top: 116px;

    h1 {
      padding-top: 61px;
    }

    &-text {
      font-size: 24px;
      width: 70%;
      max-width: 100;
      text-align: center;
      line-height: 147.3%;
    }
}

.contacts__container {
  @include standart-container();
  justify-content: center;
  background: $translucent-rect;
  width: 100%;
  height: 341px;
  margin-top: 80px;

  h2 {
    margin-bottom: 43px;
  }

  .address__container {
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin-right: 3%;
  
    &-heading {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    & span:first-child {
        font-size: 14px;
        color: $heading-font-color;
        line-height: 6px;
      }
      
      & span:last-child {
        font-size: 20px;
      }
  }
}
  
.teams__container {

  @include breakpoint(large) {
    width: 980px;
  }

  @include breakpoint(medium) {
    width: 100%;
  }

  @include standart-container();
  width: 100%;
  margin-top: 80px;

  .teams__item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 55px;

    .teams__item {
      text-align: center;
      margin-right: 80px;
      flex-basis: 15%;
    }

    .teams__name-text {
      margin-top: 23px;
      margin-bottom: 60px;
      line-height: 30px;
    }    
    .teams__name-text > span:first-child {
      font-size: 20px;
      font-weight: 600;
    }
    
  .teams__name-text > span:last-child {
      font-family: Roboto;
      font-size: 14px;
      color: $teams-prof-color;
    }
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 40px 53px 40px;
  height: 124px;
  margin-top: 120px;
  background: $footer-color;

  &-copyright {
    font-size: 16px;
    color: $copyright-font-color;
  }

  &-social-media > a {
    color: $socmedia-font-color;
    font-size: 26.7px;
    margin-left: 19.3px;
    &:hover {
      @include hoverSocMedia();
    }
  }
}

//sass --watch sass/base.scss:css/style.css