body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.theme-content {
  display: flex;
  flex-direction: column;
}

nav {
  height: 90px;
  width: 100%;
}

.navbar__container {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  transform: translate(0%, 50%);
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu__item {
  margin-right: 30px;
  font-size: 16px;
}

.navbar-menu__item:hover {
  color: cadetblue;
  font-size: 20px;
  cursor:pointer;
}

.navbar-menu__login {
  padding: 12px 36px 12px 36px;
  border: 1px solid;
  border-radius: 8px;
}

.navbar-menu__login:hover {
  background: cadetblue;
  color: cadetblue;
  cursor:pointer;
}

.navbar-menu__login-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.description__container {
  margin-top: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__heading {
  margin-top: 61px;
  margin-bottom: 30px;
}

.description__text {
  font-size: 24px;
  width: 70%;
  max-width: 100;
  text-align: center;
  line-height: 147.3%;

}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F7F9FB;
  width: 100%;
  height: 341px;
  margin-top: 80px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__container h2 {
  margin-bottom: 43px;
}

.address__container {
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin-right: 3%;
}

.address__heading {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.address__heading > span:first-child {
    font-size: 14px;
    color: #4F4F4F;
    line-height: 6px;
  }
  
.address__heading > span:last-child {
    font-size: 20px;
}

.teams__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.teams__item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 55px;
}

.teams__item {
  text-align: center;
  margin-right: 80px;
  flex-basis: 15%;
}

.teams__name-text {
  margin-top: 23px;
  margin-bottom: 60px;
  line-height: 30px;
}

.teams__name-text > span:first-child {
  font-size: 20px;
  font-weight: 600;
}

.teams__name-text > span:last-child {
  font-size: 14px;
  color: #828282;
}

.copyright {
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.4;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 40px 53px 40px;
  height: 124px;
  margin-top: 120px;

  background-color: #3F3D56;
}

.social-media > a {
  color: white;
  font-size: 26.7px;
  margin-left: 19.3px;
}

.social-media > a:hover {
  color: yellow;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
  cursor:pointer;
}