@mixin breakpoint($point) {
  @if $point == superLarge {
    @media screen and (min-width: 1824px) {
      @content;
    }
  }
  @else if $point == large {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
  @else if $point == medium {
    @media screen and (max-width: 1199px) {
      @content;
    }
  }
  @else if $point == small {
    @media screen and (max-width: 767px) {
      @content;
    }
  }
}

.is-desktop {
  @include breakpoint(medium) {
    display: none!important;
  }
}

.is-mobile {
  @include breakpoint(large) {
    display: none!important;
  }
}

.is-animated {
  transition: all 400ms ease;
}

@mixin standart-container () {
  display: flex;
  flex-direction: column;
  align-items: center;
}
