@import 'BurgerMenu.scss';
@import 'HeaderMobile.scss';

header {
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.5s ease-in;
}

nav {
  height: 90px;
  width: 100%;

    .navbar__container {
      display: flex;

      padding-left: 40px;
      padding-right: 40px;
      padding-top: 31px;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(medium) {
        padding-top: 20px;
        padding-left: 20px;
      }

      .navbar__menu {
        display: flex;
        align-items: center;

        &-item {
          margin-right: 30px;
          font-size: 16px;
          &:hover {
            color: $nav-font-hover;
            font-size: 20px;
            cursor:pointer;
          }
        }
                
        &-login {
            padding: 12px 36px 12px 36px;
            border: 1px solid;
            border-radius: 8px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            cursor:pointer;
            &:hover {
              background: $nav-font-hover;
              color: rgb(253, 241, 241);
            }
          }
      }
    }
  }