doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title &Ocy; &ncy;&acy;&scy;.SkillDrive
  link(rel='stylesheet' href='dist/main.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap' rel='stylesheet')
include ./header.pug
main
  section.description
    .description__container
      img(src='../src/img/About-page/aboutUs.svg' alt='4 программиста и собака')
      h1.description__heading &Ocy; &ncy;&acy;&scy;
      span.description__container-text
        | &Ecy;&tcy;&ocy; &ucy;&chcy;&iecy;&bcy;&ncy;&ycy;&jcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;, &scy;&ocy;&zcy;&dcy;&acy;&ncy;&ncy;&ycy;&jcy; &scy; &tscy;&iecy;&lcy;&softcy;&yucy; &pcy;&ocy;&lcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy; &bcy;&ocy;&iecy;&vcy;&ocy;&gcy;&ocy; &ocy;&pcy;&ycy;&tcy;&acy; &vcy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&iecy; &ncy;&acy;&scy;&tcy;&ocy;&yacy;&shchcy;&iecy;&gcy;&ocy; &zhcy;&icy;&vcy;&ocy;&gcy;&ocy; &vcy;&iecy;&bcy;-&pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;. &Ecy;&tcy;&ocy;&tcy; &scy;&iecy;&rcy;&vcy;&icy;&scy; &icy;&mcy;&icy;&tcy;&icy;&rcy;&ucy;&iecy;&tcy; &rcy;&acy;&bcy;&ocy;&tcy;&ucy; &kcy;&acy;&rcy;&shcy;&iecy;&rcy;&icy;&ncy;&gcy;&acy;, &vcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&mcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&iecy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &acy;&rcy;&iecy;&ncy;&dcy;&ocy;&vcy;&acy;&tcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&icy;, &ncy;&ocy; &icy; &scy;&dcy;&acy;&vcy;&acy;&tcy;&softcy; &icy;&khcy; &vcy; &acy;&rcy;&iecy;&ncy;&dcy;&ucy;.
  section.contacts
    .contacts__container
      h2 &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
      .address__container
        .address__container-heading
          span &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&acy;&yacy; &pcy;&ocy;&chcy;&tcy;&acy;
          br
          span drive@skillfactory.com
        hr.is-desktop
        .address__container-heading
          span &Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;
          br
          span +7 912 123-45-67
  section.teams
    .teams__container
      h2 &Kcy;&ocy;&mcy;&acy;&ncy;&dcy;&acy;

        mixin teamsItem(name, profession, img)
          .teams__item
            img(src='../src/img/about-page/'+img alt=name)
            .teams__item-name-text
              span=name 
              br
              span=profession

      .teams__item-container
        +teamsItem("Иван Иванов","CEO","Team_1.jpg")
        +teamsItem("Алексей Смирнов","Frontend-разработчик","Team_2.jpg")
        +teamsItem("Денис Ярцев","Backend-разработчик","Team_3.jpg")
        +teamsItem("Николай Морозов","Дизайнер","Team_4.jpg")
        +teamsItem("Ирина Деева","Копирайтер","Team_5.jpg")
        +teamsItem("Марья Стрелкова","SMM","Team_6.jpg")

include ./footer.pug
script(src='dist/main.js')
