footer
  .footer__container
    span.footer__container-copyright &copy; SkillDrive Inc. 2020
    .footer__container-social-media
      a.icon-facebook.is-animated(href='404.html' target='_blank' rel='nofollow')
      a.icon-insta.is-animated(href='404.html' target='_blank' rel='nofollow')
      a.icon-vk.is-animated(href='404.html' target='_blank' rel='nofollow')