header
  nav
    .navbar__container
      a(href='main.html' target='_blank' rel='nofollow')
        img.navbar__brand-text(src='../src/img/Logo.svg' alt='logo')
      .navbar__menu.is-desktop
        a.navbar__menu-item.is-animated(href='About.html' target='_blank' rel='nofollow') &Ocy; &ncy;&acy;&scy;
        a.navbar__menu-item.is-animated(href='https://www.google.com/' target='_blank' rel='nofollow') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;
        a.navbar__menu-item.is-animated(href='Questions.html' target='_blank' rel='nofollow') &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
        a.navbar__menu-login.is-animated(href='' target='_blank' rel='nofollow') &Vcy;&ocy;&jcy;&tcy;&icy;
  .mobile__wrapper.is-mobile.is-active.is-animated
    img.navbar__brand-mobil(src='../src/img/Logo.svg' alt='logo')
    .menu__mobile-container
      nav.menu__mobile
        a.menu__mobile-link.is-animated(href='About.html') &Ocy; &ncy;&acy;&scy;
        .menu__mobile-rect
        a.menu__mobile-link.is-animated(href='') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;
        .menu__mobile-rect
        a.menu__mobile-link.is-animated(href='Questions.html') &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
      a.menu__login.is-animated(href='' target='_blank' rel='nofollow') &Vcy;&ocy;&jcy;&tcy;&icy;
  .mobile__burger.is-active.is-mobile
    .mobile__burger-rect
    .mobile__burger-rect
    .mobile__burger-rect