doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='dist/main.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap' rel='stylesheet')
  title &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;.SkillDrive
include ./header.pug
main
  .questions__container
    img(src='../src/img/Question-woman.svg' alt='Woman with questions')
    h1 &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
    span &Ocy;&tcy;&vcy;&iecy;&chcy;&acy;&iecy;&mcy; &ncy;&acy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &ucy; &vcy;&acy;&scy; &mcy;&ocy;&gcy;&ucy;&tcy; &vcy;&ocy;&zcy;&ncy;&icy;&kcy;&ncy;&ucy;&tcy;&softcy;.
    .questions__container-rect
      div &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &ocy;&tcy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy; &bcy;&rcy;&ocy;&ncy;&softcy;?
      .icon-arrow
    .questions__container-answer
      | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&mcy;, &ncy;&ocy; &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &ncy;&ucy;&zhcy;&ncy;&ocy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &tcy;&ucy;&dcy;&acy;, &gcy;&dcy;&iecy; &vcy;&ycy; &iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy;.
    .questions__container-rect
      | &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &dcy;&iecy;&ncy;&softcy;&gcy;&icy;, &iecy;&scy;&lcy;&icy; &ncy;&iecy; &pcy;&ocy;&dcy;&ocy;&shcy;&iocy;&lcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy;?
      .icon-arrow
    .questions__container-answer
      | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&mcy;, &ncy;&ocy; &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &ncy;&ucy;&zhcy;&ncy;&ocy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &tcy;&ucy;&dcy;&acy;, &gcy;&dcy;&iecy; &vcy;&ycy; &iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy;.
    .questions__container-rect
      | &CHcy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy;, &iecy;&scy;&lcy;&icy; &scy;&lcy;&ucy;&chcy;&icy;&lcy;&ocy;&scy;&softcy; &Dcy;&Tcy;&Pcy;?
      .icon-arrow
    .questions__container-answer
      | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&mcy;, &ncy;&ocy; &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &ncy;&ucy;&zhcy;&ncy;&ocy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &tcy;&ucy;&dcy;&acy;, &gcy;&dcy;&iecy; &vcy;&ycy; &iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy;.
    .questions__container-rect
      | &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &vcy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&mcy; &dcy;&lcy;&yacy; &mcy;&iecy;&ncy;&yacy; &mcy;&iecy;&scy;&tcy;&iecy;?
      .icon-arrow
    .questions__container-answer
      | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&mcy;, &ncy;&ocy; &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &ncy;&ucy;&zhcy;&ncy;&ocy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &tcy;&ucy;&dcy;&acy;, &gcy;&dcy;&iecy; &vcy;&ycy; &iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy;.
    .questions__container-rect
      | &CHcy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy;, &iecy;&scy;&lcy;&icy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy; &pcy;&rcy;&ocy;&scy;&icy;&tcy; &zcy;&acy;&pcy;&lcy;&acy;&tcy;&icy;&tcy;&softcy; &iecy;&mcy;&ucy; &ncy;&acy;&pcy;&rcy;&yacy;&mcy;&ucy;&yucy;?
      .icon-arrow
    .questions__container-answer
      | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&mcy;, &ncy;&ocy; &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &ncy;&ucy;&zhcy;&ncy;&ocy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &tcy;&ucy;&dcy;&acy;, &gcy;&dcy;&iecy; &vcy;&ycy; &iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy;.
    .questions__container-rect
      | &Dcy;&ocy;&lcy;&zhcy;&iecy;&ncy; &lcy;&icy; &yacy; &zcy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&tcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy;?
      .icon-arrow
    .questions__container-answer
      | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&mcy;, &ncy;&ocy; &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &ncy;&ucy;&zhcy;&ncy;&ocy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &tcy;&ucy;&dcy;&acy;, &gcy;&dcy;&iecy; &vcy;&ycy; &iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy;.
include ./footer.pug
script(src='dist/main.js')
